*{
    margin:0;
    box-sizing: border-box;
}

/* -------Estils per al header---------- */

header{
    background-color:rgb(209, 137, 137);
    height: 50px;
    width: 100%;
}

.icoEscut{
    width: 35px;
    height: 40px;
    margin-right: 10px;
}
.textLogo{
    color: white;
    display: flex;
    align-items: center;
    font-family:Arial;
    text-align: center;
}



.navegacio {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;

}

.navegacio ul {
    display: flex;
    gap: 60px; /* separació entre enllaços */
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 65px;

}

.navegacio li a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.navegacio li a:hover {
    color:RGB(218, 136, 85);
}

/* -------Estils per al main1 ---------- */
main{
    background: linear-gradient(to bottom, rgb(58, 32, 153), rgb(71, 13, 94));
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px; 
}



.mainText{
    margin-top: 70px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;

}