*{
    margin:0;
    box-sizing: border-box;
}

/* -------Estils per al header---------- */

header{
    background-color: rgb(14, 182, 84);
    height: 50px;
    width: 100%;
}

.icoEscut{
    width: 35px;
    height: 40px;
    margin-left: 17px;
    margin-right: 9px;
}
.textLogo{
    color: white;
    display: flex;
    align-items: center;
    font-family:Arial;
    text-align: center;
}




.navegacio{
    color: white;
    list-style: none;
    justify-content: end;
    text-decoration: none;
    display: inline-flex;
    
}
ul,li{
    display: inline-flex;
}

/* -------Estils per al main1 ---------- */
main{
    margin-top: 20px;
    background-image: url("../img/confeti.svg");


}

.mainText{
    justify-content: center;
    text-align: center;

}