/* Paleta de colors */
:root {
    --color-primari: #539041;
    --color-secondari: #47488e;
    --color-terciari: #f6b01f;
    --color-quaternari: #ececec;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: white;
}

.cabeceraInici {
    height: 6.4em;
}

.logo img {
    width: 112px;
    margin-left: -10px;
}

.usuari {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    padding-bottom: 1em;
    padding-right: 1.6em;
}

.usuari p,
.usuari i {
    color: var(--color-secondari);
}

.barraSepar {
    border-right: solid black 1px;
    height: 3em;
}

#imgUser {
    border-radius: 4em;
    width: 5em;
}

/* -------- Capçalera del llistat ----------*/
.cabeceraList {
    display: flex;
    justify-content: center;
    height: 3.1em;
    align-items: center;
    background-color: var(--color-secondari);
}

/* -------- Menú Lateral ----------*/
.menuLateral {
    background-color: var(--color-primari);
    height: 100vh;
    font-size: 1em;
}

.menuLateral ul {
    margin-left: -55px;
    margin-right: -15px;
}

.menuLateral ul li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 1em 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;

}

/* Text del menú */
.menuLateral ul li a {
    text-decoration: none;
    color: white;

}

/* Hover blau */
.menuLateral ul li:hover {
    background-color: var(--color-secondari);
    font-weight: 900;
}

/* Opció seleccionada */
.menuLateral ul li.seleccionat {
    background-color: var(--color-secondari);
}

/* ----------- FORMULARI ------------------ */
.formulari {
    background-color: var(--color-quaternari);
    height: 24.5vh;
    padding: 0.8em;
}

.formulari label {
    color: var(--color-secondari);
    padding-left: 0.2em;
}

.formulari input {
    color: black;
}

.formulariGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8em;
    height: 100%;
}

.campFormulari {
    display: flex;
    flex-direction: column;
    gap: 0.6em;

}

.campFormulari label {
    font-weight: 419;
    font-size: 1em;
}

.campFormulari input {
    padding: 0.5em;
    border: 1px solid #585e65;
    border-radius: 0.4em;
}


.botonesForm {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    align-items: center;
    margin-top: -2.6em;
}

.formulari button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.formulari .cercar{
    background-color: #f6b01f;
}
.formulari .netejar{
    background-color: #94949d;
}
.formulari button:hover {
    font-weight: 900;
}


/* ========================= */
/*     RESPONSIVE */
/* ========================= */

@media (max-width: 768px) {

    /* Capçalera */
    .cabeceraInici {
        height: auto;
        padding: 1em 1.5em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        flex: 1;
    }

    .iconoMenu {
        color: var(--color-secondari);
        font-size: 2.5em;
        display: block;
        position: absolute;
        left: 0.1em;
    }

    .iconoMenu:hover {
        cursor: pointer;
    }

    .logo img {
        margin: 0;
        display: block;
        width: 90px;
    }

    .usuari {
        justify-content: flex-end;
        padding: 0;
        gap: 0;
        position: absolute;
        right: 1.5em;
    }

    .usuari p {
        display: none;
    }

    .barraSepar {
        display: none;
    }

    .usuari i:not(.iconoMenu) {
        display: none;
    }

    #imgUser {
        width: 4em;
        margin-top: 0.2em;
    }

    /* Menú lateral ocult */
    .menuLateral {
        display: none;
    }

    /* Formulari */
    .formulari {
        height: auto;
        padding: 1em;
    }

    .formulariGrid {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .campFormulari label {
        font-size: 0.9em;
    }

    .campFormulari input {
        padding: 0.5em;
    }

    /* Botons verticals */
    .botonesForm {
        grid-column: 1 / -1;
        flex-direction: column;
        justify-content: center;
        margin-top: 0.5em;
        gap: 0.5em;
    }

    .botonesForm button {
        padding: 0.7em 1em;
        font-size: 0.9em;
        width: 100%;
        justify-content: center;
    }
}

/* ------------------------------------------------ */
/* ------------ESTILS PER A LES COLUMNES---------- */
.colCentre {
    text-align: center;
}

.colDreta {
    text-align: end;
}

.colEsq {
    text-align: start;
}