* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: white;
}

.cabeceraInici {
    height: 6.4em;
}

.logo img {
    width: 7em;
}

.usuari {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2em;
}

.barraSepar {
    border-right: solid black 1px;
}

#imgUser {
    border-radius: 4em;
    width: 5em;
}

.cabeceraList {
    display: flex;
    justify-content: center;
    height: 3.1em;
    align-items: center;
}

/* -------- Menú Lateral ----------*/
.menuLateral {
    display: flex;
    align-items: start;
    height: 58em;
}

ul li {
    list-style: none;
    border-bottom: solid white 1px;
    margin-top: 1em;
}

ul li a {
    text-decoration: none;
}


/* ------------ESTILS PER A LES COLUMNES---------- */
.colCentre {
    text-align: center;
    background-color: blueviolet;
}

.colDreta {
    text-align: end;
    background-color: red;
}

.colEsq {
    text-align: start;

    background-color: blue;
}