* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: white;
}

.cabeceraInici {
    height: 6.4em;
}

.logo img {
    width: 112px;
    margin-left: -10px;
}

.usuari {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    padding-bottom: 1em;
    padding-right: 1.6em;
}

.usuari p,
.usuari i {
    color: black !important;
}

.barraSepar {
    border-right: solid black 1px;
    height: 3em;
}

#imgUser {
    border-radius: 4em;
    width: 5em;
}

/* -------- Capçalera del llistat ----------*/
.cabeceraList {
    display: flex;
    justify-content: center;
    height: 3.1em;
    align-items: center;
    background-color: RGB(71, 72, 142);
}

/* -------- Menú Lateral ----------*/
.menuLateral {
    background-color: RGB(83, 144, 65);
    height: 100vh;
    font-size: 1em;
}

.menuLateral ul {
    margin-left: -55px;
    margin-right: -15px;
}

.menuLateral ul li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 1em 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;

}

/* Text del menú */
.menuLateral ul li a {
    text-decoration: none;
    color: white;

}

/* Hover blau */
.menuLateral ul li:hover {
    background-color: RGB(71, 72, 142);
}

/* Opció seleccionada */
.menuLateral ul li.seleccionat {
    background-color: RGB(71, 72, 142);
}

/* ------------------------------------------------ */
/* ------------ESTILS PER A LES COLUMNES---------- */
.colCentre {
    text-align: center;
}

.colDreta {
    text-align: end;
}

.colEsq {
    text-align: start;
}