* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: white;
}

.cabeceraInici{
    height: 6.4em;
}
.logo img {
    width: 7em;
}

.usuari {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2em;
}

.barraSepar {
    border-right: solid black 1px;
}

#imgUser {
    border-radius: 4em;
    width: 5em;
}

.cabeceraList {
    height: 3.1em;
    align-items: center;
}

/* ------------ESTILS PER A LES COLUMNES---------- */
.colCentre {
    text-align: center;
    background-color: blueviolet;
}

.colDreta {
    text-align: end;
    background-color: red;
}

.colEsq {
    text-align: start;

    background-color: blue;
}