* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(191, 182, 182);
    font-family: 'Inter';
    color: black;

}

/*------------------------------HEADER--------------------------------*/
header {
    margin-top: 20px;
    margin-bottom: 15px;
}

.logoWeb {
    width: 90px;
}

.opcLinks ul {
    margin: 0;
    padding: 0;
    line-height: 40px;
    font-size: 1em;
    ;
    margin-top: 19px;
    margin-left: 46px;

    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
}

.opcLinks ul li {
    flex: 1;
    text-align: center;
    background-color: white;
    padding: 0.4em;
    border-left: 1px solid black;


}

.opcLinks ul li a {
    font-size: 1em;
    font-weight: 700;
}

/* Opc de iconos del FA */
.opcHeader ul li {
    display: inline-block;
    font-size: 1.7em;

    padding-top: 28px;
}

/*--------------------MAIN--------------------------*/
main {
    padding-top: 40px;
    padding-bottom: 35px;
}


/*--------------------FOOTER--------------------------*/

footer{
    margin-top: 3%;
}

.desplegables,
.rrss,
.pagaments {
    vertical-align: top;
}

.desplegables {
    display: inline-block;
    padding-right: 10px;
}
.desplegables ul li {
  display: flex;
  align-items: center;    
  justify-content: space-between;
  gap: 6px;                  
}

.desplegables ul li a {
  flex: 1;
  line-height: 1.4;
  display: inline-block;
}

/* Fletxes */
.desplegables ul li i {
  flex-shrink: 0;  /* Fletxes amb la mateixa mida i pos. */
  font-size: 0.9em;
  margin-left: 8px;
  align-self: center;        
}


.desplegables ul li:first-child,
.rrss p {
    font-weight: 900;
    line-height: normal;

    padding-bottom: 40px;
}

.rrss ul {
    display: flex;
    flex-direction: row;
    font-size: 1.6em;
    margin-left: -29px;
}

.rrss li{
    padding-right: 25px;
    padding-bottom:20px ;
}

/* ARREGLAR - orden/separación */
.pagaments ul {
    display: flex;
    flex-direction: row;
}

.pagaments ul li img {
    width: 3.2em;

}




/*--------------------EFECTES/CONFIG--------------------------*/

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ------------ESTILS PER ALS EFECTES DEL HEADER ---------- */

/* Efecte blau quan pases per la opció */
.opcLinks ul li:hover {
    background-color: #89b2ce;
}

.opcLinks ul li a:hover {
    color: white;
}

.opcHeader ul li a:hover{
    cursor: pointer;
}

/* Efecte de la primera opció del header */
.opcLinks ul li:first-child {
    background-color: #89b2ce;
    border-left: none;
}

.opcLinks ul li:first-child a {
    color: white;
}

/* ------------ESTILS PER ALS EFECTES DEL FOOTER ---------- */
.desplegables ul li a:hover {
    color: grey;
}


/*afegir efecte a la fletxa -- preguntar*/


/* ------------ESTILS PER ALS hr ---------- */

.hrGros {
    border: none;
    height: 2px;
    background-color: black;
}

.hrFinoMig {
    border: none;
    height: 1px;
    background-color: grey;
}

/* ------------ESTILS PER A LES COLUMNES---------- */

.colCentre {
    text-align: center;
}

.colDreta {
    text-align: end;
}