* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: black;
}

/*------------------------------HEADER--------------------------------*/
.header {
    margin-top: 20px;
    margin-bottom: 15px;
    width: auto;
    border-bottom: 1px solid black;
}

.logoWeb {
    width: 90px;
    margin-bottom: 15px;
}

.opcLinks {
    display: flex;
    justify-content: center;
    width: 100%;
}

.opcLinks ul {
    margin: 0;
    padding: 0.5px 0;
    margin-top: 17px;
    margin-left: 46px;

    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    background: white;
    box-sizing: border-box;
}

.opcLinks ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-left: 1px solid black;
    padding: 0.35em 1.35em;
    line-height: 1;
    height: 55px;
    box-sizing: border-box;
}

.opcLinks ul li a {
    font-size: 1.26em;
    font-weight: 600;
    white-space: nowrap;
}

/* Opc de icones del FA */

.opcHeader {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.7em;
    padding-top: 28px;
    gap: 5px;
}


.opcHeader ul li a {
    font-size: 1em;
}

/*--------------------MAIN--------------------------*/
main {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.1em;
}


/*--------------------FOOTER--------------------------*/

.sense_separacio {
    margin: 0 !important;
    padding: 0 !important;
}

.footer {
    width: auto;
    border-bottom: 1px solid black;
    border-top: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colDespleg {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.desplegables {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desplegables ul {
    display: flex;
    flex-direction: column; 
    max-width: 210px;
    align-items: flex-start;
    gap: 6px; 
}


.desplegables ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desplegables ul li a {
    flex: 1;
    line-height: 1.4;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}

/* Fletxes */
.desplegables ul li i {
    /* Fletxes amb la mateixa mida i pos. */
    flex-shrink: 0;
    font-size: 0.9em;
    margin-left: 8px;
    align-self: center;
}


.desplegables ul li:first-child,
.rrss p {
    font-size: 17px;
    font-weight: 804;
    line-height: normal;
    padding-bottom: 40px;
}

.rrss {
    text-align: center;
}

.rrss ul {
    display: flex;
    flex-direction: row;
    font-size: 1.6em;
    justify-content: center;
}

.rrss li {
    padding-right: 25px;
    padding-bottom: 20px;
}

.pagaments {
    margin-top: 0;
}

.pagaments ul {
    display: flex;
    flex-direction: row;
    padding-top: 0; 
    padding-right: 40px;
}

.pagaments ul li img {
    width: 3.6em;
}



.copiright {
    font-size: 17px;
    margin-top: 20px;
}

/*--------------------EFECTES/CONFIG--------------------------*/

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ------------ESTILS PER ALS EFECTES DEL HEADER ---------- */

/* Efecte blau quan pases per la opció */
.opcLinks ul li:hover {
    background-color: #89b2ce;
}

.opcLinks ul li:hover a {
    color: white;
}

.opcHeader ul li a:hover {
    cursor: pointer;
}

/* Efecte de la primera opció del header */
.opcLinks ul li:first-child {
    background-color: #89b2ce;
    border-left: none;
}

.opcLinks ul li:first-child a {
    color: white;
}

/* ------------ESTILS PER ALS EFECTES DEL FOOTER ---------- */
.desplegables ul li a:hover {
    color: grey;
}
/* ------------ESTILS PER A LES COLUMNES---------- */

.colCentre {
    text-align: center;
}

.colDreta {
    text-align: end;
}